html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
.wrapper {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-areas: "sidebar main";
  min-width: 300px;
}

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(1, 7, 46, 0.4), rgba(3, 38, 114, 0.7)), url("../img/sidebar-4.jpg");
}

#sidebar .navbar-header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .navbar-header img {
  width: 35px;
}

#sidebar .btn {
  margin: 7px 0;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
  background: linear-gradient(rgba(238, 238, 238, 0.1), rgba(255, 255, 255, 0.1));
}

#sidebar .btn:hover {
  background: linear-gradient(rgba(189, 186, 186, 0.623), rgba(255, 255, 255, 0.3));
}

#sidebar .nav-link {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#sidebar .nav-link.dropdown-toggle::after {
  margin-top: 8px;
}

/* Main Section */
main {
  grid-area: main;
  display: grid;
  grid-template-areas: "topbar"
                       "content";
  background-color: rgb(241, 241, 241);
}

/* Topbar */
#topbar {
  grid-area: topbar;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  line-height: 1.8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 2, 7, 0.8));
  height: min-content;
}

#topbar button {
  color: white;
}

#topbar-items .nav-link {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

#topbar-items .nav-link span {
  margin-right: 7px;
  margin-left: 7px;
}

#topbar-items img {
  width: 30px;
  height: 30px;
}

/* Content */
.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Cards styling */
.content .card {
  margin-bottom: 30px;
  min-width: 300px;
  width: 60%;
  box-shadow: 0px 1px 0px 1px rgba(103, 101, 109, 0.08);
  border-radius: 6px;
}

/* Card header */
.card .card-header {
  background-color: transparent;
  border-bottom: 1px solid #ebedf2 !important;
  display: flex;
}

/* Card header image */
.card .card-header img {
  width: 40px;
  height: 40px;
}

/* Card header title */
.card .card-header .card-title {
  color: #575962;
  font-size: 18px;
  padding-top: 3px;
}

/* Card footer */
.card .card-footer {
  background-color: transparent;
  border-top: 1px solid #ebedf2 !important;
  line-height: 30px;
}

/* Hide sidebar on smaller devices */
@media screen and (max-width: 768px) {

  #sidebar {
    display: none;
  }

  .wrapper {
    grid-template-columns: none;
    grid-template-areas: main;
  }

  .content .card {
    width: calc(100% - 25px);
  }
}
