html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  grid-template-areas: "sidebar main";
}

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

/* Main Section */
main {
  display: grid;
  grid-template-areas: "topbar"
                       "content";
}

/* Topbar */
#topbar {
  grid-area: topbar;
  width: 100%;
  display: flex;
}

/* Content */
#content {
  grid-area: content;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
}
