html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  grid-template-areas: "sidebar main";
}

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

#sidebar .navbar-header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .navbar-header img {
  width: 35px;
}

#sidebar .btn {
  margin: 5px;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
}

#sidebar .nav-link {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#sidebar .nav-link.dropdown-toggle::after {
  margin-top: 9px;
}

/* Main Section */
main {
  grid-area: main;
  display: grid;
  grid-template-areas: "topbar"
                       "content";
}

/* Topbar */
#topbar {
  grid-area: topbar;
  width: 100%;
  display: flex;
}

/* Content */
#content {
  grid-area: content;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
}
